<form class="box"
      #signUpFromData="ngForm"
      (ngSubmit)="signUp(signUpFromData)"
      [mustMatch]="['password', 'repeate_password']">
    <h1>{{ "auth.REGISTRATION_TITLE" | translate}}</h1>
    <div class="input-div">
       <input type="text"
          name="fullName"
          placeholder="{{ 'auth.FULL_NAME' | translate }}"
          ngModel
          required>
       <div  *ngIf="signUpFromData.submitted && signUpFromData.invalid">
              <div *ngIf="signUpFromData.controls.fullName?.errors?.required" 
                    class="alert">
                სახელი სავალდებულოა
              </div>
       </div>
    </div>
    <div class="input-div">
       <input type="text"
       name="email"
       placeholder="{{ 'auth.EMAIL' | translate}}"
       ngModel
       required>
       <div  *ngIf="signUpFromData.submitted && signUpFromData.invalid">
              <div  *ngIf="signUpFromData.controls.email?.errors?.required"
                     class="alert">
                იმეილი სავალდებულოა
              </div>
       </div>
    </div>
    <div class="input-div">
       <input type="password"
           name="password"
           #password="ngModel"
           placeholder="{{ 'auth.PASSWORD' | translate}}"
           ngModel
           required>
       <div  *ngIf="signUpFromData.submitted && signUpFromData.invalid">
              <div *ngIf="signUpFromData.controls.password?.errors?.required" 
                   class="alert">
                პაროლი
              </div>
       </div>
    </div>
    <div class="input-div">
       <input type="password"
           name="repeate_password"
           #repeate_password="ngModel"
           placeholder="{{ 'auth.REPEAT_PASSWORD' | translate}}"
           ngModel
           required>
       <div  *ngIf="signUpFromData.submitted && signUpFromData.invalid">
              <div *ngIf="signUpFromData.controls.repeate_password?.errors?.required" 
                   class="alert">
                იმეილი სავალდებულოა
              </div>
       </div>
    </div>
    <button class="signUp">{{ "auth.REGISTRATION_BUTTIN" | translate}}</button>
    <ng-container *ngIf="signUpFromData.submitted && signUpFromData.invalid">
       <div *ngIf="signUpFromData.controls.repeate_password?.errors?.mustMatch" 
            class="alert mustMatch">
              პარლები არ ემთხვევა
       </div>
    </ng-container>
</form>


<!--
აქ ამათ ინფუთებს ამ ენჯი მოდელით ცვლადებს იმიტომ ვუკეთებთ,
რომ მის ერორებს მივწვდეთ.
#password="ngModel"
#repeate_password="ngModel"

და, ასევე, ინფუთებს რადგანაც ngModel - ს ვადებთ,
ეს ჯერ ესერთი თემფლეით დრივენ ფორმის გამო ვადებთ და ასევე
#password - ს და #repeate_password - ს ცვლადებს რომ გამოვიძახებთ,
მომცემს ამ ინფუთების ენჯი მოდელს. ანუ ამ ინფუთების ველიებს და რაღაცეებს.

პ.ს. ანუ ასე ცვლადები რომ შემოგვაქვს, შესაბამისად ცოტათი რთულდება,
რეაქტივ ფორმებთან შედარებით. მაგალითად, უფრო მეტი ინფუთი რომ გვქონდეს,
უფრო მეტად გართულდებოდა. რადგან ვალიდაცია და ყველაფერი
თემფლეითში მოხდება და აირევა ნელ-ნელა. -->
