<div class="add-movie-container">
  <h1 class="title">{{"catalogue.searchPage.TITLE" | translate}}</h1>
  <div class="add-movie">
    <div class="form">
      <input [(ngModel)]="searchData" type="text" placeholder="{{'catalogue.searchPage.INPUT' | translate}}">
      <div class="error-box" *ngIf="errorVal">
        {{"errors.SEARCH_ERROR" | translate}}
      </div>
      <button (click)="searchBook(searchData)">{{"catalogue.searchPage.ADD_BOOK_BTN" | translate}}</button>
      <ul class="lastThree">
        <li *ngFor="let name of lastThreeSearches"
              (click)="getBooksFromApi(name)">
          {{name}}
        </li>
      </ul>
    </div>
  </div>
</div>


<form class="contact-box">
  <div class="form-conatiner">
    <label>Review:</label>
    <textarea type="text" class="textarea-field"></textarea>
  </div>
  <div class="form-conatiner form-conatiner">
    <label>Rating:</label>
    <div class="rating">
      <input type="radio" name="star" id="star1" class=""><label for="star1"></label>
      <input type="radio" name="star" id="star2"><label for="star2"></label>
      <input type="radio" name="star" id="star3"><label for="star3"></label>
      <input type="radio" name="star" id="star4"><label for="star4"></label>
      <input type="radio" name="star" id="star5"><label for="star5"></label>
    </div>
  </div>
  <div class="form-conatiner">
    <label>Status:</label>
    <select>
      <option class="option">Watched</option>
      <option class="option">Later Watch</option>
    </select>
  </div>
  <button type="button" class="btn btn-book">Send message</button>
</form>


<div>
  <h1>hhhhh</h1>
</div>
