<div class="result">


  <div>

<form class="contact-box" [formGroup]="form" *ngIf="getSelectedBook">
  <div>
      <div *ngIf="getSelectedBook" class="book-result">
        <img [src]="getSelectedBook.imageLinks"
             alt="book pic"
             class="image" />
        <div class="book-result-div">
          <div><h2>{{getSelectedBook.title}}</h2></div>
          <p> <strong>{{"book.AUTHOR" | translate}} </strong> {{getSelectedBook.authors}}</p>
          <p> <strong>{{"book.PUBLISHER" | translate}} </strong> {{getSelectedBook.publisher}}</p>
          <p><strong>{{"book.PUBLISH_DATE" | translate}} </strong> {{getSelectedBook.publishedDate}}</p>
          <p><strong>{{"book.BOOK_ADAPTATION" | translate}} </strong>
                      <span *ngIf="getSelectedBook.movie?.response" class="check">
                        <fa-icon [icon]="check"></fa-icon>
                      </span>
                      <span *ngIf="!getSelectedBook.movie?.response" class="ban">
                        <fa-icon [icon]="ban"></fa-icon>
                      </span> </p>

          <div class="countries"  *ngIf="getSelectedBook.movie.response">

            <p *ngIf="getSelectedBook.countries"><strong>{{"book.COUNTRIES" | translate}}</strong></p>
            <span *ngFor="let element of getSelectedBook.countries">
              <!-- //ამას დააკვირდი მერე, სავარაუდოდ მაინც აღარ დაიბეჭდებოდა ენჯიიფის გარეშე  -->
              <ng-container *ngIf="element">
                  <img [src]="getCountryFlag(element)"
                  [title]="getCountryPopulation(element)"/>
               </ng-container>
            </span>
          </div>

        </div>
      </div>
  </div>

  <div>

  <div class="form-conatiner">
    <label>{{"catalogue.searchPage.REVIEW" | translate}}</label>
    <div class="input-div">
      <textarea type="text"
                class="textarea-field"
                formControlName="review"></textarea>
      <div *ngIf="form.invalid && submitted">
        <div *ngIf="form.controls.review?.errors && !form.controls.review?.errors?.minlength"
              class="alert">
          {{"errors.REVIEW_NEEDED" | translate}}
        </div>
        <div *ngIf="form.controls.review?.errors?.minlength" class="alert">
          {{"errors.REVIEW_MIN_LENGTH" | translate}}
        </div>
      </div>
    </div>
  </div>
  <div class="form-conatiner form-conatiner">
    <label>{{"catalogue.searchPage.RATING" | translate}}</label>
    <div class="rating">
      <input type="radio"
             id="star1"
             [value]="5"
             formControlName="rating"><label for="star1"></label>
      <input type="radio"
             id="star2"
             [value]="4"
             formControlName="rating"><label for="star2"></label>
      <input type="radio"
             id="star3"
             [value]="3"
             formControlName="rating"><label for="star3"></label>
      <input type="radio"
             id="star4"
             [value]="2"
             formControlName="rating"><label for="star4"></label>
      <input type="radio"
             id="star5"
             [value]="1"
             formControlName="rating"><label for="star5"></label>
    </div>
  </div>
  <div class="form-conatiner select-first">
    <label>{{"catalogue.searchPage.STATUS" | translate}}</label>
    <select formControlName="status">
      <option class="option"
              [ngValue]="status.Read">{{"catalogue.searchPage.READ" | translate}}</option>
      <option class="option"
              [ngValue]="status.ReadLater">{{"catalogue.searchPage.LATER_READ" | translate}}</option>
    </select>
  </div>
  <div *ngIf="form.invalid && submitted" class="timeToRead-div">
    <div *ngIf="form.controls.whenToRead?.errors"
          class="alert timeToReadError">
          {{"errors.TIME_TO_READ" | translate}}
    </div>
  </div>
  <div class="form-conatiner select-second" *ngIf="whenToRead">
    <label>{{"catalogue.searchPage.STATUS" | translate}}</label>
    <select formControlName="whenToRead">
      <option [ngValue]=null hidden>{{"catalogue.searchPage.SELECT" | translate}}</option>
      <option *ngFor="let element of timeToRead"
              [ngValue]="element.value" >
            {{element.label | translate}}
            </option>
    </select>
  </div>
  <button type="button"
          (click)="submit()"
          class="btn btn-book">{{"catalogue.searchPage.ADD_COL" | translate}}</button>

  </div>
</form>
  </div>
</div>
