.userInfo{
  margin-top: 120px;
  background: greenyellow;
  width: 700px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #999;
  // top: 50%;
  // left: 50%;

  margin: auto;
  font-size: 25px;
}

.headerTitle {
  background: rgb(255,157,91);
  background: linear-gradient(162deg, rgba(255,157,91,1) 0%, rgba(34,195,193,1) 100%);
  text-align: center;
  padding: 30px;
}

.headerTitle h1 {
  margin-bottom: 15px;
  font-size: 50px;
}

.headerTitle p {
  font-weight: 500;
  font-size: 20px;
}

.userInfo ul li  {

  list-style-type: none;
  padding: 15px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-small-container {
  display: flex;
  width: 450px;

}

.form-small-container input{
  margin-left: 25px;
  width: 60%;
  padding: 3px;
  font: 12px;
  outline: none;
  border-radius: 14px;
  border: 1px solid black;
}

.editBtn, .checkBtn{
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.deleteBtn  {
  width: 70%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background: red;
  color: white;
  font-weight: 500;
  margin: 0 auto;
}

.smlBtn-container {
  padding: 10px;
  margin-right: -10px;
  width: 45px;
  display: flex;
}
.smlBtn-container button{
  margin: 8px;
}

span {
  margin-left: 25px;
}

.emailInput{
  margin-left: 230px;
}
