<div class="box">
    <form #signInFromData="ngForm"
      (ngSubmit)='signIn(signInFromData.value)'>
	<h1>{{ "auth.LOGIN_TITLE" | translate}}</h1>
	<div class="input-div">
      <input type="text"
               name="email"
               class="email-input"
               placeholder="{{ 'auth.EMAIL' | translate}}"
               ngModel
               required>
         <div *ngIf="signInFromData.submitted && signInFromData.invalid" class="error-container">
            <div *ngIf="signInFromData.controls.email?.errors?.required" class="alert">
              {{ "errors.EMAIL_NEEDED" | translate}}
            </div>
         </div>
   </div>
   <div class="input-div">
      <input type="password"
               name="password"
               placeholder="{{ 'auth.PASSWORD' | translate}}"
               ngModel
               required>
      <div *ngIf="signInFromData.submitted && signInFromData.invalid" class="error-container">
            <div *ngIf="signInFromData.controls.password?.errors?.required" class="alert">
              {{ "errors.PASSWORD_NEEDED" | translate}}
            </div>
      </div>
   </div>
   <button class="logIn">{{ "auth.LOGIN" | translate}}</button>
   </form>
   <div class="bellow">
      <button class="forgetBtn"
           (click)="toResetPasswrd()">{{ "auth.FORGET_PASSWORD_BUTTON" | translate}}</button>
    <!-- <div *ngIf="signInFromData.submitted && signInFromData.invalid" class="error-container">
        <div *ngIf="signInFromData.controls.email?.errors?.required" class="alert">
             იმეილი სავალდებულოა
        </div>
        <div *ngIf="signInFromData.controls.password?.errors?.required" class="alert">
           პაროლი სავალდებულოა
        </div>
      </div>
   </div> -->
</div>
