<div class="box">
    <form #signInFromData="ngForm"
      (ngSubmit)='signIn(signInFromData.value)'>
	<h1>{{ "auth.LOGIN_TITLE" | translate}}</h1>
	<input type="text" name="email"
        placeholder="{{ 'auth.EMAIL' | translate}}"
        ngModel>
	<input type="password"
         name="password"
         placeholder="{{ 'auth.PASSWORD' | translate}}"
         ngModel>
	<button class="logIn">{{ "auth.LOGIN" | translate}}</button>
   </form>
   <button class="forgetBtn"
           (click)="toResetPasswrd()">{{ "auth.FORGET_PASSWORD_BUTTON" | translate}}</button>
</div>
