<header>
  <h2 class="title">{{ "TITLE" | translate}}</h2>
  <nav>
    <ul class="nav_links">
      <li><button (click)="toSignIn()"
                  class="signInBtns"
                  *ngIf="!isLoggedIn">{{"SIGN_IN_HEADER" | translate}}</button></li>
      <li><button (click)="toSignUp()"
                  class="signUpBtns"
                  *ngIf="!isLoggedIn">{{"SIGN_UP_HEADER" | translate}}</button></li>
      <li><button  (click)="signOut()"
                  class="signOutBtn"
                  *ngIf="isLoggedIn">{{ "SIGN_OUT_HEADER" | translate}}</button></li>
    </ul>
  </nav>
</header>
<div class="languageBars">
  <button class="langBtn en"
          (click)="useEn()"
          [class.inactive]="!isEn"></button>
  <button class="langBtn ge"
          (click)="useGe()"
          [class.inactive]="!isKa"></button>
</div>


