li{
	font-family: sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

.header-container{
  width: 100%;
}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10%;
  background-color: #24252A;
}



.nav_links {
	list-style: none;
}


.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.signInBtns, .signUpBtns {
	background-color: rgba(0,136,169,1);
 	padding: 9px 25px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
}


.signInBtns:hover, .signUpBtns:hover {
	color: white;
	background-color: rgba(0,136,169,0.8);
}

.title {
  color: white;
  cursor: pointer;
}

// .langBtn{
//   border: none;
//   outline: none;
//   cursor: pointer;
//   width: 32px;
//   height: 32px;
//   &.en {
//     background: url('/assets/images/en.png');
//   }
//   &.ge {
//     background: url('/assets/images/ka.png');
//     margin-left: 15px;
//   }
//   &.inactive {
//     filter: grayscale(100%);
//   }
// }

// .languageBars{
//   margin: 10px;
//   width: 6%;
// }

.signOutBtn{
	background-color: rgb(179, 3, 3);
	padding: 9px 25px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	color: white;
}

.signOutBtn:hover{
	background: rgb(167, 5, 5);
}

.book {
  font-size: 25px;
  color: white;
}

.userBtn{
	padding: 9px 25px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
  color: white;
  background-color: rgb(6, 51, 53);
}
