<div class="box">
    <form #formData="ngForm"
          (ngSubmit)='resetPassword(formData.value)'>
	    <h1>{{ "auth.RESET_PASSWORD_TITLE" | translate}}</h1>
	    <div class="input-div">
        <input type="text"
             name="email"
             placeholder="{{ 'auth.EMAIL' | translate}}"
             required
             ngModel>
        <div *ngIf="formData.submitted && formData.invalid" class="error-container">
            <div *ngIf="formData.controls.email?.errors?.required" class="alert">
              {{ "errors.EMAIL_NEEDED" | translate}}
            </div>
        </div>
      </div>
	    <button class="logIn">{{ "auth.RESET_BUTTON" | translate}}</button>
    </form>
</div>

